
/* *********************************************************************
    Allgemeine Eigenschaften
********************************************************************* */
div {margin:0; padding:0;}
html, td, input, form
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
html
{
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #999;
    background-color: black;
    background-image:url(/pics/backgroundV8.gif);
    /* Scrollbalken immer anzeigen */
    height: 100%;
    margin-bottom: 1px;
}
body {}
a:link,
a:visited,
a:active
{
    text-decoration: none;
    color: #788cb3;
}
a:hover
{
    text-decoration: none;
    color: white;
}
h1, h2, h3
{
    font-weight: normal;
    text-align: center;
    color: #666;
    margin:0em 0 1em 0;
    padding:0;
    border-bottom: 1px solid #666;
    text-align:right;

}
h1
{
    font-size: 120%;
    margin:0; /*no margin to the submenue*/
}
h2, h3
{
    font-size: 100%;
}

.error {color:red;}
.warning {color:orange;}
.important {color: red;}
.aktuell {color:lime;}
.capital {background-color:#333;}
.keeper,.keeper a {color:#ffd480;}
.player,.player a {color:#009000;}

.invisible {visibility:hidden;}
.hidden {display:none;}

.inputCheck,
.inputRadio {margin:0; padding:0;}
.formLineBlock {margin-top:0.5em;}
p {margin:0.5em 0 1em 0;}
table {margin:0.5em 0 1em 0;}

/* *********************************************************************
    Seitenstruktur
********************************************************************* */

#page-container
{
    background-color: #111;
    border: solid 1px #333;
    width:73em;
    min-width:73em;
    margin: 0 auto;
}
#masthead
{
    border-bottom: solid 1px #000;
}
#outer-column-container
{
    border-left-color: #222;
    border-right-color: #222;
}
#inner-column-container
{
    border: solid 1px #000;
}
#source-order-container {}
#middle-column {}
#content
{
    padding: 1em 1em 1em 1em;
}
#left-column {}
#right-column {}
#footer, #footerGuest
{
    border-top: solid 1px #000;
    border-width: 1px 0 0 0;
    border-color: #222;
    border-style: solid;
    background: #000;
}
.clear
{
    clear: both;
}

div.rowHeader
{
    overflow:hidden;
    height:4em;
}
#infoRow
{
    background-color:#36578C;
    border-color:#999;
    border-style:solid;
    border-width:1px 0;
}

/* *********************************************************************
    Linke Spalte
********************************************************************* */

/* -------------------------------
    Logo
------------------------------- */

#masthead
{
    height: 4em;
    background-color:black;
    background-image:url(/pics/oben.jpg);
    background-repeat: no-repeat;
    background-position:top right;
}
#logo
{
    width: 13em;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 0em;
    color: white;
    float:left;
}
#logo img {border:none;}
#logo img {width:13em;height:4em;}
 /* -------------------------------
    Stadt Auswahl
------------------------------- */

#switchCity * {margin:0; padding:0;}
#switchCity
{
    width:13em;
    float:left;
}
#switchCity select
{

    width:10em;
    margin:1em 0em 0em 1em;
}

 /* -------------------------------
    Hauptmenue
------------------------------- */

#menu,
#menuGuest
{
    width: 11em;
    margin: 0em 0em 0em 0em;
    padding: 1em 1em 1em 1em;
    color:#999;
}

#menu ul,
#menuGuest ul
{
    margin:0;
    padding:0;
    padding: 0.2em 0em 0.7em 0.5em;
    list-style-type: none;
}
#menu h3,
#menuGuest h3
{
    margin:0;
    padding: 0em 0em 0em 0em;
    border-width: 0px 0px 1px 0px;
    font-size: 100%;
    font-weight: normal;
    border-color: #555;
    border-style:solid;
    color: #999;
    text-align:left;
}
#activeEntry
{
    color: white;
}
.newMessage,
#newMessage
{
    color: #0f0; /* neon green */
}
#sessiontimeout
{
    color: #0f0; /* neon green */
}
#cityList TABLE {
    width: 100%;
}
#cityList TD {
    font-size: 80%;
}
#cityList DIV {
    padding: 5px 0;
}

/* *********************************************************************
    Mittlere Spalte
********************************************************************* */

 /* -------------------------------
    Sponsor Info
------------------------------- */

#sponsor
{
    margin: 0em 0em 0em 0em;
    padding: 1em 0em 0em 0em;
    text-align: center;
    background-color: #111;
    color: #999;
}
#sponsor .bewahrer,
#sponsor .bewahrer a
{
    color: #FFD480;
}
 /* -------------------------------
    Rohstoff- und Lageranzeige
------------------------------- */

#status
{
    padding: 0em 0em 0em 0em;
    color: white;
}
#resourcesA,
#resourcesB,
#depots,
#space
{
    float: left;
    margin: 0.5em 0em 0em 0em;
}
#iridiumLabel,
#holziumLabel
{
    float: left;
    width: 4.5em;
    padding: 0em 1em 0em 0em;
}
#count_iridium,
#count_holzium
{
    float: left;
    width: 6em;
    padding: 0em 0.5em 0em 1em;
    text-align: right;
}
#waterLabel,
#oxygenLabel
{
    float: left;
    width: 5em;
    padding: 0em 1em 0em 0em;
}
#count_water,
#count_oxygen,
#count_hangar,
#count_defense
{
    float: left;
    width: 6em;
    padding: 0em 0.5em 0em 1em;
    text-align: right;
}
#depotCommonLabel,
#depotOxygenLabel
{
    float: left;
    width: 4.5em;
    padding: 0em 1em 0em 0em;
}
#count_depot,
#count_oxygen_depot
{
    float: left;
    width: 4em;
    padding: 0em 0.5em 0em 1em;
    text-align: right;
}

 /* -------------------------------
    Rohstoff- und Lageranzeige
------------------------------- */

/* Inhalt */
#cityThumb
{
    float: right;
    width: 10em;
    padding: 1em 1em 0em 1em;
}
#currentCity,
#forcePower,
#account
{
    margin: 1em 0 0.5em 1em;
}
#worldTime
{
    padding-right: 1em;
}
td.label
{
    width: 18em;
}
td.value
{
    width: 18em;
}
#currentCity td.label
{
    width: 14em;
}
#currentCity td.value
{
    width: 10em;
}

#middle-column .inside table {width:100%;}

 /* -------------------------------
    Hauptinhalt
------------------------------- */

#content
{
    color: #ccc;
}
td.value
{
    text-align: right;
}

#worldTime
{
    text-align: right;
    color: #555;
}
#danger
{
    color: red;
}
.time
{
    font-size: 90%;
}
.message
{
    color: yellow;
}

/* *********************************************************************
    Rechte Spalte
********************************************************************* */

 /* -------------------------------
    Sponsorlink
------------------------------- */

#sponsorLink
{
    height: 2em;
    width: 13em;
    margin: 0 -1px 0 -1px;
    padding: 1em 0em 1em 0em;
    text-align: center;
    color: white;
    float:right;
    border-left:1px solid #000;
    background-color:#222;
}
#sponsorLink a
{
    color:#FFD480;
}

 /* -------------------------------
    Uhr
------------------------------- */

#clock
{
    width: 13em;
    text-align: right;
    float:right;
}
#time
{
    padding: 0.2em 0em 0.2em 0em;
    margin: 0.83em 1em 0em 1.63em;
    width: 7.32em;
    color: black;
    background-color: white;
    text-align: center;
    font-size:123%;
}

 /* -------------------------------
    Werbung
------------------------------- */

#banner
{
    text-align:center;
    width: 100%;
    padding:1em 0;
}
#banner img
{
    border:none;
}

/* *********************************************************************
    Fusszeile
********************************************************************* */
#footer, #footerGuest
{
   height:3em;
}
#footerGuest {
    background-image:url(/pics/unten.jpg);
    background-repeat: no-repeat;
    background-position:bottom right;
}
#versionTitle
{
    float:right;
    color:#ccc;
    margin: 1em 1em 1em 1em;
}
#subMenu
{
    float:left;
    margin:1em 1em 1em 1em;
}

/* *********************************************************************
    Spezialbereiche
********************************************************************* */

 /* -------------------------------
    Registrierung
------------------------------- */

/* Fielsets mit Hintergrundfarbe und
   leicht plastischen Rahmen*/
#registerForm #fieldSetEarth1,
#registerForm #fieldSetEarth2
{
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    border-bottom: 1px solid #444;
    border-left: 1px solid #444;

    margin: 2em 0em 1em 0em;
    padding: 1em 1em 0em 1em;
    color:#999;
    background-color:#111;
}

#fieldSetSend1 {border:none;}
#fieldSetSend2 {border:none;}
#fieldSetSend3 {border:none;}
#fieldSetSend4 {border:none;}

/* Legende ausgeblendet,
   erzeugt im ie Fehler bei aktiver Hintergrundfarbe */
#registerForm legend
{
    display:none;
}

/* Alle Elemente sind auf display:block gesetzt,
   um Groessenangaben festlegen zu koennen und
   fliessen links. Ein Zeilenumbruch hebt die
   Flussumgebung auf. */
#registerForm label
{
    display:block;
    float:left;
    width:8em;
    padding-right:0.5em;
}
#fieldsetEarth1 input,
#fieldsetEarth2 input
{
    display:block;
    float:left;
}
#registerForm span.info
{
    display:block;
    float:left;
    width:27em;
}
#registerForm span.confirm
{
vertical-align:top;
}
#registerForm span.legend
{
display:block;
font-size:80%;
color:#444;
text-align:right;
padding:2em 0 0.5em 0;
}
#registerForm br
{
    clear:both;
}

/* leicht abgedunkelte Eingabe */
#mailInput,
#mailRepeatInput,
#passInput,
#passRepeatInput,
#nickInput,
#cityInput,
#precode
{
    background-color:#ccc;
}

/* Abstand um naechsten Bereich */
#newsLetterInfoContent,
#passInfoContent,
#agbInfoContent,
#privacyInfoContent,
#precodeInfoContent,
#cityInfoContent

{
    margin-top:2em;
}

/* Abstand innerhalb eines Bereiches
   und zwar zur naechsten Zeile */
#mailInfoContent,
#mailInput,
#newsLetterInfoContent,
#passInfoContent,
#passInput,
#precodeInfoContent,
#agbInfoContent,
#privacyInfoContent,
#cityInfoContent,
#nickInfoContent
{
    margin-bottom: 0.5em;
}

#fieldSetSend #buttonSend
{
}

/* Beschriftung ist rechtsbündig*/
#mailLabel,
#mailRepeatLabel,
#newsLetterCheckLabel,
#passLabel,
#passRepeatLabel,
#agbLabel,
#nickLabel,
#cityLabel,
#privacyCheckLabel,
#precodeLabel
{
    text-align:right;
}

/* Beschriftung fuer den Hinweistext ausgeblendet */
#mailInfoLabel,
#newsLetterInfoLabel,
#passInfoLabel,
#agbInfoLabel,
#cityInfoLabel,
#nickInfoLabel,
#privacyInfoLabel,
#precodeInfoLabel
{
    color:white;
    visibility:hidden;
}
#toPersonData, #toFlight, #toStart, #submit, #buttonSend  {float:right;padding: 0 1em;}
#earthOne, #earthTwo {text-align:center;border:solid #444 1px;width:38em;margin:1em auto 2em auto;}
#registerForm .tab-page p:first-letter {font-size:150%;color:#ccc;padding:0 0.1em 0 0;font-weight:bold;}
#registerErrorList {border:solid 1px #999; padding:0.5em 0em 0.5em 0em; background-color:#222;margin:1em 0 1em 0em;color:white;}
#registerErrorList li {padding-bottom:0.2em; color: orange}

 /* -------------------------------
    Beschreibungsliste (Login Error)
------------------------------- */

#loginErrorContainer dt {color:#ddd;padding: 0 3em 0.2em 3em;}
#loginErrorContainer dd {color:#999;padding: 0 3em 0.5em 0;}

#loginErrorContainer dt.errorList {color:#999;padding: 0 0 0.2em 0;}
#loginErrorContainer dd.errorList {color:#eee;padding: 0 0 0.5em 0;}
#loginErrorContainer #errorMessage {color:red;}

 /* -------------------------------
     AGB
--------------------------------- */
#agbContainer {color:#999;}
#agbContainer dl {padding: 0 0em 0em 0em;}
#agbContainer dt {padding: 0em 0em 0em 1.5em;color:#ccc;}
#agbContainer dd {padding: 0 0em 0.5em 0em;color:#999;}
#agbContainer h2 {padding: 1em 0em 0em 0em;color:#ddd;text-align:left;}
#agbContainer li {padding: 0em 1.5em 0.5em 0em;}
#agbContainer #contactSign {margin-top:1em;border:solid 1px #444; padding:0.5em;background-color:#222;}
#agbContainer #contactSign th {text-align:right; font-weight:normal;color:#ccc;padding: 0 1em 0 0;}
#agbContainer #dateSign {text-align:right;}

#dataSecurityContainer {color:#999;}
#dataSecurityContainer dl {padding: 0 0em 0em 0em;}
#dataSecurityContainer dt {padding: 0em 0em 0em 1.5em;color:#ccc;}
#dataSecurityContainer dd {padding: 0 0em 0.5em 0em;color:#999;}
#dataSecurityContainer h2 {padding: 1em 0em 0em 0em;color:#ddd;text-align:left;}
#dataSecurityContainer li {padding: 0em 1.5em 0.5em 0em;}
#dataSecurityContainer #contactSign {margin-top:1em;border:solid 1px #444; padding:0.5em;background-color:#222;}
#dataSecurityContainer #contactSign th {text-align:right; font-weight:normal;color:#ccc;padding: 0 1em 0 0;}
#dataSecurityContainer #dateSign {text-align:right;}


 /* -------------------------------
     Allianz
--------------------------------- */

/* Übersicht */
#contentAlliances #dataSheet,
#contentAlliances #yourStatus,
#contentAlliances #connections
{
    margin-bottom: 1em;
    color:#999;
    background-color:#111;
}

#contentAlliances #dataSheet th,
#contentAlliances #yourStatus th,
#contentAlliances #connections th
{
    padding: 0.2em 1em 0em 0em;
    border-bottom:1px solid #222;
    width:10em;
    font-weight:normal;
    text-align:right;
}

#contentAlliances #dataSheet td,
#contentAlliances #yourStatus td,
#contentAlliances #connections td
{
    padding: 0.2em 1em 0em 0em;
    border-bottom:1px solid #222;
    color:#ccc;
}

#contentAlliances #image
{
    text-align:center;
    margin: 1em 0;
}

#contentAlliances #image img
{
    border:1px solid #666;
}

#contentAlliances #text p
{
    padding: 0.5em 0em;
}

/* Meldungen */

#contentAlliances #writeMessage,
#contentAlliances #administration {margin-left:1em;}

#contentAlliances #writeMessage #subjectInput
{
    color:#999;
    font-weight:bold;
    background-color:#222;
    border: 1px solid #666;
    font-weight:bold;
    padding: 0.2em 0 0.2em 1em;
    margin: 0em 0 0.5em 0em;
    width: 38em;
}
#contentAlliances #writeMessage input.button,
#contentAlliances #administration input.button
{background-color:#222; border:1px solid #666;color:#788cb3}
#contentAlliances #writeMessage input.button:hover,
#contentAlliances #administration input.button:hover
{background-color:#222; border:1px solid #666;color:white;cursor:pointer;} /*removed ie only property: cursor:hand ;*/

#contentAlliances #writeMessage #a_msg
{
    width:39em;
    background:#222;
color:#999;
border:1px solid #666;
padding:0.2em 0em 0.2em 0em;
margin: 0 0 1em 0em;
}
#contentAlliances div.message {
    border: 1px solid #333;
    border-width: 0px 0 0 0;
    color:#999;
    margin-top:0.5em;
;
    }
#contentAlliances div.message input{
margin-left:1em;
    }
#contentAlliances div .message .content {
    margin-left:0em; margin-right:1em;
padding-left:1em;
;
    }
#contentAlliances div.message span.date {
display:block;
text-align:left;
font-size:90%;
margin:1em 0 1em 0em;
padding: 0 0 1em 1em;
color:#666;
border-bottom:1px solid #444;
border-top:1px solid #222;
}
#contentAlliances div.message span.headline {
border-top:1px solid #222;
border-bottom:1px solid #222;
font-weight:bold;
display:block;
margin: 0.5em 0 0.5em 0;
padding-left:1em;
}
#contentAlliances div.message span.author{
color:#666;
}
#contentAlliances #writeMessage {
margin-bottom:2em;
}

#contentAlliances #administration {}
#contentAlliances #writeMessage {}

#contentAlliances #section-war label {width:9.5em;display:block;float:left;text-align:right;margin-right:0.5em;}
#contentAlliances #section-war p {margin:0 2em 1em 10em;}
#contentAlliances #section-war td.label {width:9em;}

 /* -------------------------------
     old css.css
--------------------------------- */

#oldStyle .readonly
{
    font-family : Tahoma, sans-serif;
    font-size : 10pt;
    background-color : #000000;
    color : #FFFFFF;
    border: 1px solid #FFFFFF;
}
#oldStyle .button
{
    font-family : Tahoma, sans-serif;
    font-size : 10pt;
    background-color : #444444;
    color : #FFFFFF;
    border: 1px solid #FFFFFF;
}
#oldStyle .button_disabled
{
    font-family : Tahoma, sans-serif;
    font-size : 10pt;
    background-color : #777777;
    color : #FFFFFF;
    border: 1px solid #FFFFFF;
}


#hideLineHack {border:1px solid #111;position:relative;top:-1em;}

#contentCityAdmin ul { list-style: none;margin:0;padding:0;}
#contentCityAdmin li { background: #111; border:1px solid #999; color: #999; margin-bottom:0.5em;padding: 0.2em 0.5em 0.2em 0.5em; }
#contentCityAdmin .js_handle,
#contentCityAdmin .close {display: none; cursor: pointer; }
#contentCityAdmin .nojs_handle,
#contentCityAdmin .js_handle { float: right; }
#contentCityAdmin .title { float: left; }
#contentCityAdmin .capital{background-color:#222;}

#contentTrade #resources,
#contentTrade #planes {margin-bottom: 0.5em;color:#999;background-color:#111;}
#contentTrade #resources th,
#contentTrade #planes th {padding: 0em 1em 0em 0em;border-bottom:1px solid #222;width:15em;font-weight:normal;text-align:right;}
#contentTrade #resources td,
#contentTrade #planes td {padding: 0em 1em 0em 0em; border-bottom:1px solid #222; color:#ccc;}
#contentTrade #planeID3 td,
#contentTrade #planeID3 th,
#contentTrade #planeID6 td,
#contentTrade #planeID6 th,
#contentTrade #planeID8 td,
#contentTrade #planeID8 th,
#contentTrade #planeID12 td,
#contentTrade #planeID12 th  {padding-top: 0.5em;}
#contentTrade .even {}
#contentTrade .getCol,
#contentTrade .giveCol,
#contentTrade #getColHeader,
#contentTrade #giveColHeader  {width:13em; text-align:left;}
#contentTrade .open  {}
#contentTrade .js_handle,
#contentTrade .close {display: none;}
#contentTrade .priceLeft   {width:6em; text-align:right;}
#contentTrade .priceMiddle {width:1em;}
#contentTrade .priceRight  {width:6em; text-align:left;}
#contentTrade #prices td {border-bottom:1px solid #222;}
#contentTrade #prices th {border-bottom:1px solid #999;}

#contentTrade #tradeSet {border: 1px solid #444;color:#999;background-color:#222;margin: 0em 0em 2em 0em;padding: 1em 0em 1em 1em;}
#contentTrade #tradeSet label {display:block;float:left;width:13em;padding-right:0.5em;text-align:right;margin-bottom:0.2em;}
#contentTrade #tradeSet .input,
#contentTrade #tradeSet .readonly {display:block;float:left;background-color:#ccc;border:1px solid #666;padding:0 0.5em;margin-bottom:0.2em;text-align:right;}
#contentTrade #tradeSet br {clear:both;}
#contentTrade #show_between {float:left;}
#contentTrade #getType,
#contentTrade #offerType,
#contentTrade #giveOrGet,
#contentTrade #wareSelection {width:16em;margin-left:0.5em;background-color:#ccc;border:1px solid #666;}
#contentTrade #giveOrGet { width: 10em; }
#contentTrade #rateLabel,
#contentTrade #show_up,
#contentTrade #show_between,
#contentTrade #show_down {margin-top:0.5em;}
#contentTrade #tradeSet #show_down {text-align:left;}
#contentTrade .planeUnit,
#contentTrade #timeUnit,
#contentTrade #usageUnit,
#contentTrade #spaceUnit {display:block; float:left; margin-left:0.5em;}
#contentTrade #spaceLabel,
#contentTrade #show_max_content,
#contentTrade #spaceUnit {margin-top:1em;}
#contentTrade #finishTrade {margin:2em 0 0em 13.5em;}
#contentTrade #tradeSet .readonly{background-color:#222;color:#ccc;border:1px solid #222;border-bottom:1px solid #444;}
#contentTrade p {margin:0.5em;}
#contentTrade #errorMessage {color:red;}
#contentTrade #transportBlock {width:35em;}
#contentTrade button { background-color: #444444; border: 1px solid #999999; color: #CCCCCC; margin: 1px 0; vertical-align: middle; width: 8em; }
#contentTrade button#finishTrade { width: auto; }
 /* -------------------------------
     Kriegsverhandlung
--------------------------------- */

#contentWarAdmin label {width:10em;display:block;float:left;text-align:right;margin-right:1em;}
#contentWarAdmin h3 {border-bottom:1px solid #333;text-align:right;margin:1em 0 1em 0;padding:0 0 0.2em 0;}
#contentWarAdmin p {margin:0 2em 1em 11em;}

/* Übersicht */
#warErrorList {border:solid 1px #999; padding:0.5em 0em 0.5em 0.5em; background-color:#222;margin:1em 0 1em 0em;color:orange;}
#warErrorList li {padding-bottom:0.2em; color: orange}

 /* -------------------------------
     Ranglisten
--------------------------------- */
#contentToplist #ranklists {margin-bottom: 0.5em;color:#999;background-color:#111;}
#contentToplist #ranklists th {padding: 0em 1em 0em 0em;border-bottom:1px solid #222;width:15em;font-weight:normal;text-align:right;}
#contentToplist #ranklists td {padding: 0em 1em 0em 0em; border-bottom:1px solid #222; color:#ccc;}
#contentToplist #ranks .rank {padding: 0em 1em 0em 0em; text-align: right; width: 3em}
#contentToplist #ranks .name {padding: 0em 1em 0em 0em; text-align: center;}
#contentToplist #ranks .users {padding: 0em 2em 0em 0em; text-align: right;}
#contentToplist #ranks .points {padding: 0em 1em 0em 0em; text-align: right; width: 4em}
#contentToplist #ranks .avarage {padding: 0em 2em 0em 0em; text-align: right;}
#contentToplist #own_alliance_ranks .rank,
#contentToplist #own_ranks .rank {padding: 0em 1em 0em 0em; text-align: right; width: 3em}
#contentToplist #own_alliance_ranks .category,
#contentToplist #own_ranks .category {padding: 0em 1em 0em 0em; text-align: center;}
#contentToplist #own_alliance_ranks .points,
#contentToplist #own_ranks .points {padding: 0em 1em 0em 0em; text-align: right; width: 4em}

#contentBuild ul.category {list-style:none; padding:0; margin:0; margin-bottom:0em; clear:both;}
#contentBuild ul.category li {padding:0.5em 0; height:4.4em; line-height:1.5; border-bottom:1px solid #222; clear:both; text-align:right;}
#contentBuild ul.category li.disabled {background-color:#200; color:#444;}
#contentBuild ul.category li.disabled form {color:#800; cursor:help;}
#contentBuild p.desc {margin-top:-0.1em; float:left; text-align:left;}
#contentBuild p.buttons {text-align:right; padding:0; margin:0;}
#contentBuild form {margin:0; padding:0.3em 0;}
#contentBuild span.details {padding-left:2em;}
#contentBuild span.label {color:#999;}
#contentBuild span.countdown {padding-right:0.5em;}
#contentBuild span.disabled {padding-right:0.5em;}
#contentBuild span.disabled span {padding-right:8em;}
#contentBuild input {width:8em;margin:1px 0;background-color:#444; color:#ccc; border:1px solid #999; vertical-align:middle;}
#contentBuild input.disabled {background-color:#777; color:#999;border:1px solid #444;}
#contentBuild ul.category li.pre {padding:.2em 0;height:1.5em;line-height:0.8;border-bottom:1px solid #222;clear:both;text-align:right;}
#contentBuild p.pre {float:left;text-align:left;vertical-align:middle;}
#contentBuild form.pre {margin:0;padding:.3em 0;vertical-align:middle;}

#contentAccstat table {font-size:12px; text-align:right; margin-bottom:1em;}
#contentAccstat table thead tr th {background:#444; color:#ccc; text-align:center; font-size:10px; padding:3px 0; border-left:1px solid #222;}
#contentAccstat table tbody tr th {text-align:center; border-bottom:1px solid #222; vertical-align:middle;}
#contentAccstat table tbody tr td {padding:0.2em 2px; font-size:12px; line-height:1.5em; border-bottom:1px solid #222; border-left:1px solid #444; vertical-align:middle;}
#contentAccstat table tbody tr.sum td {border-left:1px solid #444;}
#contentAccstat .city {text-align:left; border-left:0; padding-left:2px;}
#contentAccstat table tbody tr.sum {background:#222;}
#contentAccstat .sum {font-weight:bold;}
#contentAccstat table tbody tr td span, #contentAccstat tr.avg th, #contentAccstat tr.avg td {font-size:11px; font-weight:normal;}
#contentAccstat table.tech_left {width:49%; float:left;}
#contentAccstat table.tech_left td {border-left:0;}
#contentAccstat table.tech_right {width:49%; float:right;}
#contentAccstat table.tech_right td {border-left:0;}
#contentAccstat .tech_left tr th, #contentAccstat .tech_right tr th {background:#444; color:#ccc; text-align:center; font-size:10px; padding:3px 0;}
#contentAccstat td.label {text-align:left;}
#contentAccstat table#ress .city {width:7.5em;}
#contentAccstat table#ress .depot {width:7.5em;}
#contentAccstat table#ress .depot span {padding-left:3em;}
/* Sonderklassen für verstecken der Seitenspalten in der Städtestatistik */
#outer-column-container.hide { border-left:0; border-right:0; }
#left-column.hide, #right-column.hide { display:none; }



#contentCountries {text-align:center;}
#contentCountries div.left {float:left; width:20%; margin-left:28%; margin-top:0.5em;}
#contentCountries div.right {float:right; width:20%; margin-right:28%; margin-top:0.5em;}
#contentCountries label {display:block; text-align:center;}
#contentCountries input {text-align:right; background-color:#ccc; border:1px solid #666; padding:0 0.3em; width:2.1em;}
#contentCountries table {border:0px; border-collapse:collapse; margin:0; text-align:center;}
#contentCountries table tbody tr td {padding:0.2em 0em; border-bottom:1px solid #222;}
#contentCountries tr.capital {background-color:#333;}
#contentCountries tr.keeper, tr.keeper a {color:#ffd480;}
#contentCountries td.actions a, #contentCountries form a {background-color:#666; color:#ccc; padding:0 0.3em; border:1px solid #ccc;}
#contentCountries td.actions a:hover, #contentCountries form a:hover {background-color:#111;}
#contentCountries .pos {width:1.25em; text-align:right;}
#contentCountries .city {width:12em;}
#contentCountries .ally {width:10em;}
#contentCountries .pts {width:3em;}
#contentCountries .actions {width:3.25em; text-align:right;}
#contentCountries td.actions button a {background-color:#666; color:#ccc; padding:0 0.3em; border:1px solid #ccc;}
#contentCountries td.actions button a:hover {background-color:#111;}
#contentCountries input.button {width:8em;margin:0.3em 0;background-color:#666; color:#ccc; border:1px solid #ccc; text-align:center; vertical-align:middle; cursor:pointer; clear:both;}
#contentCountries input.button:hover {background-color:#111;}

#contentInformation table {margin-bottom: 1em; color:#999; background-color:#111;}
#contentInformation table th {padding: 0.2em 1em 0em 0em; border-bottom:1px solid #222; width:10em; font-weight:normal; text-align:right;}
#contentInformation table td {padding: 0.2em 1em 0em 0em; border-bottom:1px solid #222; color:#ccc;}
#contentInformation table td.actions {width:16em;}
#contentInformation p.bewahrerInfo {text-align:center; color:#ffd480; margin:0.5em 0;}
#contentInformation #image {text-align:center; margin: 1em 0;}
#contentInformation #image img {border:1px solid #666;}
#contentInformation #text p {padding: 0.5em 0em;}
#contentInformation table td ul {padding-left:0;}

#contentChronicle td {border-bottom:1px solid #222;}

#contentAdvertise p {margin: 0 1em 1em 1em;}
#contentAdvertise td {text-align:center;}
#contentAdvertise ul {list-style:none;}

#contentStats #weltStatus {margin: 0 0 1em 0;}
#contentStats #serverStatus td {width:50%;}
#contentStats #weltStatus td {width:50%;}
#spielerOnline .kopf,
#weltStatus .kopf,
#aufbauStatus .kopf {display:block;margin:0em 0em 0.5em 0em;border-bottom:0px solid #333;color:#666;}
#spielerOnline .titel,
#weltStatus .titel,
#aufbaustatus .titel {display:block;border-bottom:1px solid #333;}
#spielerOnline .wert,
#weltStatus .wert,
#aufbauStatus .wert {width:7em;color:lime;display:block;text-align:right;float:left;padding-right:0.5em;border-bottom:1px solid #333;}
#serverOnline .kopf {display:block;margin:0em 0em 0.5em 0em;border-bottom:0px solid #333;color:#666;}
#serverOnline .titel {display:block;text-align:right;float:left;width:7em;padding-right:0.5em;}
#serverOnline .wert {color:lime;display:block;text-align:left;padding-right:0.5em;border-bottom:1px solid #333;}
#statistikArchiv th.name {font-weight:normal;text-align:left;border-bottom:0px solid #333;}
#statistikArchiv th.zeit {font-weight:normal;text-align:left;border-bottom:0px solid #333;}
#statistikArchiv th.link {font-weight:normal;text-align:left;border-bottom:0px solid #333;}
#statistikArchiv td.name {padding:0em 0em 0em 1em;border-bottom:0px solid #333;}
#statistikArchiv td.zeit {padding:0em 0em 0em 1em;border-bottom:0px solid #333;}
#statistikArchiv td.link {padding:0em 0em 0em 1em;border-bottom:0px solid #333;}
#statistikArchiv .aktuell {color:lime;}
#statistikArchiv .geplant {color:#666;}
#contentStats #statistikArchiv td.name {width:60%;}
.cebra{background-color:#222;}
#rangListe {margin-bottom:1em;}
#rangListe .titel {text-align:right;padding-right:1em;border-bottom:1px solid #333;}
#rangListe .wert {border-bottom:1px solid #333;}
#blockCitiesSize th,
#blockUserSize th,
#blockUserStrength th,
#blockUserFame th,
#blockUserSponsors th,
#blockAllySize th,
#blockAllyStrength th,
#blockAllyFame th {color:#666;font-weight:normal;text-align:left;border-bottom:1px solid #333;}
#blockCitiesSize td,
#blockUserSize td,
#blockUserStrength td,
#blockUserFame td,
#blockUserSponsors td,
#blockAllySize td,
#blockAllyStrength td,
#blockAllyFame td {padding-left:1em;border-bottom:1px solid #333;}
#blockExpansionStats th,
#blockCommonStats th {color:#666;font-weight:normal;text-align:right;border-bottom:1px solid #333;width:40%}
#blockExpansionStats td,
#blockCommonStats td {padding-left:1em;border-bottom:1px solid #333;}
#contentStats p {margin:0 0 1em 0;}
#contentStats #sponsors {border:1px solid #fff; padding:1em; color:#ffd480;line-height:190%}
#blockVote {text-align:center;margin:1em 1em;}
#blockVote img {margin:0em 0.5em;}
#content #showAnoNymous th,
#content #showAnoNymous th,
#content #showAnoNymous th
{
    padding: 0.2em 1em 0em 0em;
    border-bottom:1px solid #222;
    width:10em;
    font-weight:normal;
    text-align:right;
}

#content #showAnoNymous td,
#content #showAnoNymous td,
#content #showAnoNymous td
{
    padding: 0.2em 1em 0em 0em;
    border-bottom:1px solid #222;
}
.table_head
{
    background-color : #444444;
    padding : 3px;
    text-align:center;
}
#content #blockVote th
{
    padding: 0.2em 0em 0.5em 1em;
    font-weight:normal;
    border-bottom:1px solid #444;
    vertical-align:middle;
    color:#666;
    text-align:left;

}
#content #blockVote td
{
    padding: 0.5em 0em 0.5em 2em;
    border-bottom:1px solid #222;
    vertical-align:middle;
    text-align:left;
}
#content #blockVote img
{
    border:none;
}
#lastUpdated {color:#444;text-align:left;}
