<div id="contentIndex" metal:define-macro="content">

    <h1>Escape to Space</h1>

    <p>Wir befinden uns im Jahr 2021. Nach dem Untergang der Erde muss nun ein
    neuer Planet besiedelt werden und du kannst derjenige sein, der mit der richtigen
    Taktik und einem präzisen Gefühl für Strategie die Macht brutal an
    sich reißt, oder auch nur friedlich mit den anderen handelt und sein
    Wirtschaftsimperium aufbaut. Doch die Entscheidung liegt allein bei dir!</p>

    <img tal:attributes="src string:$imgAddress/start-mitte.jpg"
         alt="Escape to Space - Erde II" />

    <p>Erst <a href="./page/tour.php">weiterlesen</a>
    oder gleich <a href="./page/register.php">registrieren</a>?</p>

</div>